<div id="ai">
  <h1 class="animated fadeInUp">{{message}}</h1>

  <div ng-if="outfit && outfit.parts && outfit.parts.length > 0">
    <div id="clothes">
      <img ng-src="images/clothes/shirt{{outfit.parts[0]}}.png" />
      <img ng-src="images/clothes/shorts{{outfit.parts[1]}}.png" ng-if="outfit.weather" />
      <img ng-src="images/clothes/pants{{outfit.parts[1]}}.png" ng-if="!outfit.weather" />
      <img ng-src="images/clothes/shoe{{outfit.parts[2]}}.png" />
    </div>
  </div>

  <div id="siri" ng-class="{ hidden: !start }">
    <div id="siriActive" ng-if="talking" ng-click="toggleTalking()"></div>
    <div id="siriPassive" ng-if="!talking" ng-click="toggleTalking()"></div>
  </div>

</div>
