<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Marko Dashboard</a>
        </div>
        <!-- /.navbar-header -->
    </nav>

    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <p></p>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row" style="text-align: center">
                <h1>Marko</h1>
                <img src="images/logo.png" width="200px" />
              </div>
            </div>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-line-chart fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">$7,389</div>
                  <div>Revenue</div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-red">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-desktop fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">245</div>
                  <div>Kiosk Recommendations</div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-green">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-shopping-cart fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">White Shirt</div>
                  <div>Most Popular Item</div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-yellow">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-check fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">White Shirt</div>
                  <div>Most Recommended</div>
                </div>
              </div>
            </div>
          </div>

        </div>


        <div class="col-lg-9">

          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> Popular Clothing
            </div>
            <div class="panel-body">
              <div id="popularclothingChart"></div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> Recommendation Rate
            </div>
            <div class="panel-body">
              <div id="recommendationrateChart"></div>
            </div>
          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-lg-6">

          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> Revenue (Weekly)
            </div>
            <div class="panel-body">
              <div id="revenueChart"></div>
            </div>
          </div>

        </div>
        <div class="col-lg-6">

          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> Kiosk Interactions (Weekly)
            </div>
            <div class="panel-body">
              <div id="kioskChart"></div>
            </div>
          </div>

        </div>
      </div>

      <div class="row">

        <div class="col-lg-3">

          <div class="panel panel-primary">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-group fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">20%</div>
                  <div>of customers bring<br />80% of revenue</div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-yellow">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-shopping-cart fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">50%</div>
                  <div>Amount profiled customers<br />spend over non-profiled</div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-9">

          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-group fa-fw"></i> Most Loyal Customers
            </div>
            <div class="panel-body">

              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Purchases</th>
                      <th>Kiosk Uses</th>
                      <th>Profile Maturity</th>
                      <th>Total Spent</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="c in loyal">
                      <td>{{ c.name }}</td>
                      <td>{{ c.email }}</td>
                      <td>{{ c.purchases }}</td>
                      <td>{{ c.uses }}</td>
                      <td>{{ c.maturity }}</td>
                      <td>{{ c.spent | currency }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>

        </div>
      </div>


    </div>

</div>
<!-- /#wrapper -->

